:root {
  /* colors */
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);
  --clr-dark-blue: hsl(234, 12%, 34%);
  --clr-gray-blue: hsl(229, 6%, 66%);
  --clr-light-gray: hsl(0, 0%, 98%);
  --clr-white: hsl(0, 0%, 100%);

  --clr-bg-main: var(--clr-light-gray);
  --clr-bg-card: var(--clr-white);
  --clr-text-header: var(--clr-dark-blue);
  --clr-text-body: var(--clr-gray-blue);
  --clr-card-1-border: var(--clr-cyan);
  --clr-card-2-border: var(--clr-red);
  --clr-card-3-border: var(--clr-orange);
  --clr-card-4-border: var(--clr-blue);

  /* typography */
  --ff-ss: Poppins, sans-serif;

  /* fluid font sizes for main header */
  --h-main-sm: 1.5rem;
  --h-main-lg: 2.25rem;
  --fs-h-main: clamp(var(--h-main-sm), 3vw, var(--h-main-lg));

  /* header lead paragraph */
  --fs-h-lead: 0.9375rem;

  /* card title */
  --fs-h-card: 1.25rem;

  /* card body */
  --fs-b-card: 0.8125rem;

  /* font weights */
  --fw-l: 200;
  --fw-r: 400;
  --fw-sb: 600;

  /* spacing */
  --grid-gap: clamp(1.5rem, 3vw, 1.75rem);
  --mb-card-title: clamp(0.625rem, 2vw, 0.875rem);
  --p-card-body: clamp(1.75rem, 3vw + 1rem, 2rem);

  /* icon size */
  --icon-sm: 3.5625rem;
  --icon-lg: 4rem;
  --img-size: clamp(var(--icon-sm), 4vw + 1rem, var(--icon-lg));
  --border-radius: 0.5rem;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2, 
h3 {
  line-height: 1.1;
}

ul {
  list-style: none;
}

img {
  display: block;
}

body {
  min-height: 100svh;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-ss);
  color: var(--clr-text-body);
  background-color: var(--clr-bg-main);
}

.main {
  margin: 5rem 2rem 3rem;
}

.header {
  max-width: 33.75rem;
  margin: 0 auto 5rem;
  text-align: center;
}

.header-title {
  font-size: var(--fs-h-main);
  font-weight: var(--fw-sb);
  color: var(--clr-text-header);
  margin-bottom: 1.25rem;
}

.header-light {
  display: block;
  font-weight: var(--fw-l);
  margin-bottom: 0.9375rem;
}

.header-lead {
  font-size: var(--fs-h-lead);
  font-weight: var(--fw-r);
}

.wrapper {
  display: grid;
  gap: var(--grid-gap);
  max-width: 69.375rem;
}

.card {
  text-align: left;
  background-color: var(--clr-white);
  padding: var(--p-card-body);
  border-radius: var(--border-radius);
  border-top: 0.25rem solid var(--border-clr);
  box-shadow: 0 5px 15px rgba(20, 120, 180, 0.2);
}

.card-1 {
  --border-clr: var(--clr-card-1-border);
}

.card-2 {
  --border-clr: var(--clr-card-2-border);
}

.card-3 {
  --border-clr: var(--clr-card-3-border);
}

.card-4 {
  --border-clr: var(--clr-card-4-border);
}

.card-title {
  font-size: var(--fs-h-card);
  font-weight: var(--fw-sb);
  color: var(--clr-text-header);
  margin-bottom: var(--mb-card-title);
}

.card-text {
  font-size: var(--fs-b-card);
  font-weight: var(--fw-r);
  margin-bottom: clamp(1.75rem, 2vw + 1rem, 2.25rem);
  line-height: 1.7;
}

.card-icon {
  height: var(--img-size);
  width: var(--img-size);
  margin-left: auto;
}

.footer {
  padding-bottom: 1rem;
  font-weight: var(--fw-r);
}

@media (min-width: 48rem) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .card-1 {
    grid-area: 2 / 1 / 4 / 2;
  }

  .card-2 {
    grid-area: 1 / 2 / 3 / 3;
  }

  .card-3 {
    grid-area: 3 / 2 / 5 / 3;
  }

  .card-4 {
    grid-area: 2 / 3 / 4 / 4;
  }
}

