:root {
  /* colors */
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);
  --clr-dark-blue: hsl(234, 12%, 34%);
  --clr-gray-blue: hsl(229, 6%, 66%);
  --clr-light-gray: hsl(0, 0%, 98%);
  --clr-white: hsl(0, 0%, 100%);

  --clr-bg-main: var(--clr-light-gray);
  --clr-bg-card: var(--clr-white);
  --clr-text-header: var(--clr-dark-blue);
  --clr-text-body: var(--clr-gray-blue);
  --clr-card-1-border: var(--clr-cyan);
  --clr-card-2-border: var(--clr-red);
  --clr-card-3-border: var(--clr-orange);
  --clr-card-4-border: var(--clr-blue);

  /* typography */
  --ff-ss: Poppins, sans-serif;

  /* fluid font sizes for main header */
  --h-main-sm: 1.5rem;
  --h-main-lg: 2.25rem;
  --fs-h-main: clamp(var(--h-main-sm), 2vw + 1rem, var(--h-main-lg));

  /* header lead paragraph */
  --fs-h-lead: 0.9375rem;

  /* card title */
  --fs-h-card: 1.25rem;
  /* card body */
  --fs-b-card: 0.8125rem;

  /* font weights */
  --fw-l: 200;
  --fw-r: 400;
  --fw-sb: 600;

  --border-radius: 0.5rem;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*, 
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2, 
h3 {
  line-height: 1.1;
}

ul {
  list-style: none;
}

body {
  min-height: 100svh;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-ss);
  text-align: center;
  color: var(--clr-text-body);
  background-color: var(--clr-bg-main);
}

.main {
  margin: 4rem 1.5rem;
}

.header {
  margin-bottom: 4rem;
}

.header__title {
  font-size: var(--fs-h-main);
  font-weight: var(--fw-sb);
  color: var(--clr-text-header);
}

.header__light {
  display: block;
  font-weight: var(--fw-l);
  margin-bottom: 0.9375rem;
}

